# For local builds, you'll need to set these in your '.env' file:
MYSQL_ROOT_PASSWORD=<YOUR_SUPER_SECRET_MYSQL_PWD_HERE>
# ex: 0.8.22 or 0.8.22.feature-branch
TAG=<semantic_version>

# Recentily required when using mariadb:latest:
MARIADB_AUTO_UPGRADE=1
MARIADB_INITDB_SKIP_TZINFO=1

RAILS_ENV=production

# (For the Docker Registry builds, the environment settings of the
#  autobuilds feature already takes care of these)
